*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Condensed','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height:100vh;
	width: 100vw;min-width:320px;max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a:focus, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/*
odstraneni tlactek pridej uber v input type=number
je to uplne nahovno a jen to zabira misto

For Firefox
*/
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
